<html> 
    <head> 
        <title>Y.com</title>
        <!-- The CSS file must be in the static/ folder -->
        <link rel="stylesheet" href="/static/style.css" /> 
    </head> 
    <body>
        <!-- 
            You change whatever you want here. 
            We need to host an image. This is just skeleton stuff. 
        -->
        <h1>Welcome to Y.com {{username}}</h1>
        
        <!-- The javascript files to be in the static/ folder. rename the js file if you want. -->
         <script src="/static/utility.js"></script>
    </body> 
</html> 
