<html> 
    <head> 
        <title>Y.com</title>
        <!-- The CSS file must be in the static/ folder -->
        <link rel="stylesheet" href="/static/style.css" /> 
        <link rel="stylesheet" href="/static/index.css"/>

    </head> 
    <body>
        <form action="/logout" method="post">
            <button type="submit">logout</button>
        </form>
        <!-- 
            You change whatever you want here. 
            We need to host an image. This is just skeleton stuff. 
        -->
        <h1>Welcome to Y.com {{username}}</h1>
        <div id="posts"></div>
        <form>
            <p>please login again to use live reactions</p>
            <label for="login_username">Username:</label><br>
            <input type="text" id="login_username" name="username" required><br><br>

            <label for="login_password">Password:</label><br>
            <input type="password" id="login_password" name="password" required><br><br>

            <button type="submit">Login</button>
        </form>
        <form id="postForm" action="/post" method="post">
            <label>
                Post Title<br>
                <input type="text" name="title"><br>
            </label>
            <label>
                Post Description<br>
                <textarea name="description"></textarea><br>
            </label>
            <button type="submit">Post</button>
        </form>
        
        <!-- The javascript files to be in the static/ folder. rename the js file if you want. -->
        <template id="postTemplate">
            <div class="post">
                <!-- new inputs will all have the same names quantity/price/description this will result to the server receiving an array of values for each -->
                <h2 class="title"></h2>
                <p class="description"></p>
                <img class="likeButton" src="/static/like.webp">
                <span class="likeCount">0</span>
            </div>
        </template>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="/static/index.js"></script>
        <script src="/static/utility.js"></script>
    </body> 
</html> 
