<html> 
    <head> 
        <title>Y.com</title>
        <!-- The CSS file must be in the static/ folder -->
        <link rel="stylesheet" href="/static/style.css" /> 
        <link rel="stylesheet" href="/static/index.css"/>

    </head> 
    <body>
        <form action="/logout" method="post">
            <button type="submit">logout</button>
        </form>
        <!-- 
            You change whatever you want here. 
            We need to host an image. This is just skeleton stuff. 
        -->
        <h1>Welcome to Y.com {{username}}</h1>
        <div id="posts"></div>
        <form id="postForm" action="/post" method="post" enctype="multipart/form-data">
            <label>
                Post Title<br>
                <input type="text" name="title"><br>
            </label>
            <label>
                Post Description<br>
                <textarea name="description"></textarea><br>
            </label>
            <label>
                Upload Image<br>
                <input type="file" name="image" accept="image/*"><br>
            </label>
            <button type="submit">Post</button>
        </form>
        <!-- The javascript files to be in the static/ folder. rename the js file if you want. -->
        <template id="postTemplate">
            <div class="post">
                <!-- new inputs will all have the same names quantity/price/description this will result to the server receiving an array of values for each -->
                <h2 class="title"></h2>
                <p class="description"></p>
                <img class="post-image" src="" alt="Post Image" style="display: none; max-width: 100%;">
                <img class="likeButton" src="/static/like.webp">
                <span class="likeCount">0</span>
            </div>
        </template>
        <script src="/static/index.js"></script>
        <script src="/static/utility.js"></script>
    </body> 
</html> 
